
body {
  font: 16px Helvetica, Sans-Serif;
  line-height: 24px;
font-family: 'Merienda One', cursive;
}
.wrapper {
  display: grid;
  grid-template: 10vw 35vw 10vw / 1fr 35vw 2fr 20vw 1fr;
}
.info-container {
  grid-area: 2 / 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.photo {
  grid-area: 2 / 4;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.picture_scale {
  width: 80%;
  border-radius: 3vw;
}

.background {
  grid-area: 2 / 2 / 3 / 5;
  background-image: url(net.jpg);
  background-size: cover;
  z-index: -1;
  border-radius: 3vw;
}
